<%- include("../partials/head") %>

<%- include("../partials/navbar") %>

<main class="pt-16">

    <%- include("../partials/hero") %>

    <%- include("../partials/featured") %>

    <%- include("../partials/philosophy") %>

</main>

<%- include("../partials/footer") %>